#sidebarBtn{
    width: 100%;
    border-radius: 0px;
    height: 45px;
    background-color: #283342;
    border: 0;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    padding-left: 1vw;
}
#sidebarBtn:hover{
    background-color: #009099;
    
}
#sidebarBtn:active{
    background-color: #242e3b;
    
}
