.body{
    position: absolute;
    top: 10%;
    margin-left: 20vw;
    height:90vh;
    width: 78vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d7d2fe;
    padding: 30px;
    border-radius: 10px;
}
.outer-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.top .right{

    width: 50%;
  
    
}
#select{
    width: 17vw;
    
}
.middle{
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.upper-card{
    /* width: 20%; */
    height: 90%;
}
.bottompart{
    height: 50%;
    display: flex;
    padding: 10px;
    


}
.p-2{
    height: 100%;
}
.k-2{
    width: 50%;
    height:100%;
    
}

