.body{
    margin-left: 20vw;
    height: 100vh;
    width: 78vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 100px;
}