.body{
    position: absolute;
    top: 5%;
    margin-left: 20vw;
    height: 100vh;
    width: 78vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
}
.top .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.top .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    align-items: end;
    
}
#select{
    width: 17vw;
    
}
.middle{
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.upper-card{
    width: 20%;
    height: 90%;
}
.bottompart{
    height: 50%;
    display: flex;
    padding: 10px;
    


}
.p-2{
    height: 100%;
}
.k-2{
    width: 50%;
    height:100%;
    
}

