
.top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}
.top .left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.top .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    align-items: end;
    
}
#select{
    width: 17vw;
    
}
.table-div{
    height: 100%;
    

} 